<div class="jumbotron">
<h1><i class="fa fa-cube" style="padding-right: 3px;"></i>Stukdo</h1>
	<p>This is my smart to do list Ruby on Rails Application!</p>
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>
